/*RESET CSS*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

$colores:(naranja:#ffc107, violetaDegrade: #51117f, rosaDegrade: #d31b9d);

@mixin tamanoLetra($font-size, $font-weight){
    font-size: $font-size;
    font-weight: $font-weight;
}

@font-face {
    font-family: MsMadi;
    src: url(../MsMadi-Regular.ttf);
}

body { 
    padding-top: 70px;

}

/* Bootstrap */

.imgSize {
    height: 80px;
}

.gradiente {
    background: linear-gradient(90deg, map-get($colores, violetaDegrade), map-get($colores, rosaDegrade));
}

.color a {
    color: #adb5bd;
}

.border {
    border-radius:10px;
    box-shadow: 5px 8px 12px black;
    background-position: 50% 50%;
}

.paddCaja {
    padding: 70px 0 15px 0;
}

.fixHeight {
    height: 75vh;
}

.fixHeight-contacto {
    height: 80vh;
}

.colorTexto {
    color: blueviolet;
    @include tamanoLetra(19px, 600);
    padding: 20px 0; 
}

.padTitle {
    padding-bottom: 550px;
}

.h1Font {
    font-family: MsMadi;
    color: map-get($colores, naranja);
    @include tamanoLetra(4em, 600);
    text-align: center;
    padding-top: 30px;
    text-shadow: 0 0 0.2em blueviolet, 0 0 0.2em blueviolet,
    0 0 0.2em blueviolet;
}

.h2Font {
    @extend .h1Font;
    font-size: 3em;
    padding-top: 0px;
    text-shadow: 0 0 0.2em #d31b9d, 0 0 0.2em #d31b9d,
    0 0 0.2em #d31b9d;
}

.h3Font {
    @extend .h1Font;
    padding-top: 0px;
    font-size: 2.5em;
    text-shadow: 0 0 0.2em #d31b9d, 0 0 0.2em #d31b9d,
    0 0 0.2em #d31b9d;
}

.sombraTexto {
    color: white;
    text-shadow: 0 0 0.2em #d31b9d, 0 0 0.2em #d31b9d, 0 0 0.2em red;
}

.bkgGradient {
    background-image: url(../imagenes/FondoGradient.png);
    background-repeat: no-repeat;
    background-size: cover;
}

i {
    color: map-get($colores, naranja);
}

.nav-item a:hover {
    color: map-get($colores, naranja);
}

.imgCard {
    height: 100%;
    width: 100%;
}

.texto2 {
    @include tamanoLetra(20px, 600);
    padding: 20px 0; 
}

.gridGaleria {
    .col-xl-4 {
        padding: 20px;
    }
    .col-md-6 {
        padding: 30px; 
    }
    img {
        box-shadow:5px 8px 12px map-get($colores, naranja);
        &:hover {
            transform: scale(1.2);
        }
    }
    iframe {
        width: 100%;
        height: 315px;
    }
}

.imgWH{
    width: 624px;
    height: 468px;
}

.fotosClientes {
    width: 300px;
    height: 315px;
}

/* RESPONSIVE */



@media (max-width: 767px) {
   
    .indexHeight {
        height:75vh;
    }
    .h1Font {
        @include tamanoLetra(2.5em, 600);
        text-align: center;
        padding-top: 0px;
    }
    .h2Font {
        @include tamanoLetra(2em, 600);
    }

    .h3Font {
        @include tamanoLetra(1.5em, 600);
    }

    .padTitle{
        padding-bottom: 0px;
    }
    .colorTexto {
        color: blueviolet;
        @include tamanoLetra(10px, 600);
        padding: 0;
    }
    .texto2 {
        @include tamanoLetra(15px, 600);
        padding: 0;
    }
    .imgWH-mobile{
        width: 300px;
        height: 300px;
    }
    .rowFix {
        margin: 0;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        height: 100vh;
    }
    .indexHeight {
        height:100vh;
    }

    .padTitle{
        padding-bottom: 0px;
    }
    
    .h1Font {
        @include tamanoLetra(3em, 600);
        text-align: center;
        padding-top: 0px;
    }

    .h2Font {
        @include tamanoLetra(1.5em, 600);
    }

    .h3Font {
        @include tamanoLetra(2em, 600);
    }
}